<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Alzi - Registro</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i">
      
        <!-- Vendor CSS Files -->
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
        <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
        <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
        <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
      
        <!-- Template Main CSS File -->
        <link href="assets/css/style.css" rel="stylesheet">
      
        <!-- =======================================================
        * Template Name: NiceAdmin - v2.2.2
        * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
      </head>
    <body>
        <main>
            <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                        <img src="assets/img/logo.png" alt="">
                        <span class="d-none d-lg-block">ALZI</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Crea tu cuenta</h5>
                            <p class="text-center small">Introduce tus datos personales</p>
                        </div>

                        <form class="row g-3 needs-validation" th:action="@{/crear-usuario}" th:object="${usuario}" method="post">

                            <div class="col-12">
                                <label class="form-label">Tipo de perfil</label>
                                <div>
                                  <select class="form-select" th:field="*{roles}" name="roles" id="roles" aria-label="Default select example">
                                    <option value="USUARIO">Usuario</option>
                                    <option value="CUIDADOR">Cuidador</option>
                                    <option value="ESPECIALISTA">Especialista</option>
                                  </select>
                                  <div th:if="${#fields.hasErrors('roles')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{roles}"></div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="nombre" class="form-label">Nombre</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{nombre}" type="text" name="nombre" class="form-control" id="nombre">
                                </div>
                                <div th:if="${#fields.hasErrors('nombre')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{nombre}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="apellidos" class="form-label">Apellidos</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{apellidos}" type="text" name="apellidos" class="form-control" id="apellidos">
                                    
                                </div>
                                <div th:if="${#fields.hasErrors('apellidos')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{apellidos}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{fechaNacimiento}" type="date" name="fechaNacimiento" class="form-control" id="fechaNacimiento">
                                </div>
                                <div th:if="${#fields.hasErrors('fechaNacimiento')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{fechaNacimiento}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="dni" class="form-label">DNI</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{dni}" type="text" name="dni" class="form-control" id="dni">
                                    
                                </div>
                                <div th:if="${#fields.hasErrors('dni')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{dni}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="pass" class="form-label">Contraseña</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{pass}" type="password" name="pass" class="form-control" id="pass">
                                </div>
                                <div th:if="${#fields.hasErrors('pass')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{pass}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="direccion" class="form-label">Dirección</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{direccion}" type="text" name="direccion" class="form-control" id="direccion">
                                </div>
                                <div th:if="${#fields.hasErrors('direccion')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{direccion}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{telefono}" type="text" name="telefono" class="form-control" id="telefono" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                </div>
                                <div th:if="${#fields.hasErrors('telefono')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{telefono}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Correo electrónico</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{email}" type="text" name="email" class="form-control" id="email">
                                </div>
                                <div th:if="${#fields.hasErrors('email')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{email}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="bio" class="form-label">Biografía</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{bio}" type="text" name="bio" class="form-control" id="bio">
                                </div>
                                <div th:if="${#fields.hasErrors('bio')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{bio}"></div>
                                </div>
                            </div>

                            <div class="col-12" id="PRelacionCuidador">
                                <label for="PRelacionCuidador" class="form-label">Relación con el cuidador</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{PRelacionCuidador}" type="text" name="PRelacionCuidador" class="form-control">
                                </div>
                                <div th:if="${#fields.hasErrors('PRelacionCuidador')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{PRelacionCuidador}"></div>
                                </div>
                            </div>

                            <div class="col-12" id="CTipo">
                                <label class="form-label">Tipo de cuidador</label>
                                <div>
                                  <select class="form-select" th:field="*{CTipo}" name="CTipo" aria-label="Default select example">
                                    <option value="INFORMAL">Informal</option>
                                    <option value="FORMAL">Formal</option>
                                  </select>
                                </div>
                                <div th:if="${#fields.hasErrors('CTipo')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{CTipo}"></div>
                                </div>
                            </div>

                            <div class="col-12" id="EEspecialidad">
                                <label for="EEspecialidad" class="form-label">Especialidad</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{EEspecialidad}" type="text" name="EEspecialidad" class="form-control">
                                </div>
                                <div th:if="${#fields.hasErrors('EEspecialidad')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{EEspecialidad}"></div>
                                </div>
                            </div>

                            <div class="col-12" id="ECentro">
                                <label for="ECentro" class="form-label">Centro</label>
                                <div class="input-group has-validation">
                                    <input th:field="*{ECentro}" type="text" name="ECentro" class="form-control">
                                </div>
                                <div th:if="${#fields.hasErrors('ECentro')}">
                                    <br>
                                    <div class="alert alert-danger" role="alert" th:errors="*{ECentro}"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Registrar</button>
                            </div>

                            <div class="col-12">
                                <p class="small mb-0">¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión!</a></p>
                            </div>

                        </form>

                        </div>
                    </div>

                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                        Diseñado por <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                    </div>
                </div>
                </div>

            </section>

            </div>
        </main><!-- End #main -->

        <!-- Vendor JS Files -->
        <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/chart.js/chart.min.js"></script>
        <script src="assets/vendor/echarts/echarts.min.js"></script>
        <script src="assets/vendor/quill/quill.min.js"></script>
        <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
            $("#roles").change(function () {
                var selected_option = $('#roles').val();

                if (selected_option === "USUARIO") {
                    $('#PRelacionCuidador').removeClass("d-none");
                    $("#CTipo").addClass("d-none");
                    $("#EEspecialidad").addClass("d-none");
                    $("#ECentro").addClass("d-none");
                }
                if (selected_option === "CUIDADOR") {
                    $('#CTipo').removeClass("d-none");
                    $("#PRelacionCuidador").addClass("d-none");
                    $("#EEspecialidad").addClass("d-none");
                    $("#ECentro").addClass("d-none");
                }
                if (selected_option === "ESPECIALISTA") {
                    $('#EEspecialidad').removeClass("d-none");
                    $('#ECentro').removeClass("d-none");
                    $("#PRelacionCuidador").addClass("d-none");
                    $("#CTipo").addClass("d-none");
                }
            })

            $("#roles").change();
        </script>
    </body>
</html>