<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Users / Profile - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

<body>

  <div id="header" th:replace="../static/includes/header :: header"></div>

  <div th:if="${@usuarioService.getAuth() != 'USUARIO' and @usuarioService.getAuth() != 'ADMIN'}">

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav" th:if="${@usuarioService.getAuth() == 'CUIDADOR'}">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/alzi}">
            <i class="bi bi-chat"></i>
            <span>Usuarios</span>
          </a>
        </li><!-- End Usuarios Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/programas}">
            <i class="bi bi-journal"></i>
            <span>Programas</span>
          </a>
        </li><!-- End Área Personal Page Nav -->

      </ul>

      <ul class="sidebar-nav" id="sidebar-nav" th:if="${@usuarioService.getAuth() == 'ESPECIALISTA'}">

        <li class="nav-item">
          <a class="nav-link" th:href="@{/alzi}">
            <i class="bi bi-chat"></i>
            <span>Usuarios</span>
          </a>
        </li><!-- End Usuarios Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-train" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Entrenamiento</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-train" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a th:href="@{/programas}">
                <i class="bi bi-circle"></i><span>Programas</span>
              </a>
            </li>
            <li>
              <a th:href="@{/ejercicios}">
                <i class="bi bi-circle"></i><span>Ejercicios</span>
              </a>
            </li>
            <li>
              <a th:href="@{/preguntas}">
                <i class="bi bi-circle"></i><span>Preguntas</span>
              </a>
            </li>
          </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/area-personal}">
            <i class="bi bi-journal"></i>
            <span>Área Personal</span>
          </a>
        </li><!-- End Área Personal Page Nav -->

      </ul>

    </aside><!-- End Sidebar-->
  
  </div>

  <main id="main" class="main" style="margin-left: 0px;" th:if="${@usuarioService.getAuth() == 'USUARIO'}">

    <div class="pagetitle">
      <h1>Área Personal</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/alzi}">Mi Plan</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>
      <div class="row" th:if="${@usuarioService.getAuth() == 'USUARIO'}">

        <div class="col-xl-4">

          <div class="card">
            <div class="card-body pt-3">
              <div class="tab-content pt-2">

                <iframe id="chatbot"
                    allow="microphone;"
                    width="100%"
                    height="400px"
                    src="https://console.dialogflow.com/api-client/demo/embedded/668017e1-b7d5-4611-8bb9-74423666fd01">
                </iframe>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>
        </div>
        <div class="col-xl-8">

          <div th:if="${@recordatorioService.getRecordatoriosBool()}">
            <div class="alert alert-info  alert-dismissible fade show" role="alert">
              <div class="d-flex w-100 justify-content-between">
                <h4 class="alert-heading" th:text="${@recordatorioService.getMyRecentRecordatorio().getEtiqueta()}"></h4>
                <small th:text="${@recordatorioService.getMyRecentRecordatorio().getFecha()}"></small>
              </div>
              <p class="mb-0" th:text="${@recordatorioService.getMyRecentRecordatorio().getDescripcion()}"></p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mi Plan</h5>
                <!-- List group with Advanced Contents -->
                <div th:each="p: ${@programaService.getMyProgramas()}">
                  <div class="list-group">
                    <a th:if="${p.publico}" th:href="@{'/show-programa?id=' + ${p.id}}" class="list-group-item list-group-item-action" aria-current="true">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${p.titulo}"></h5>
                        <small th:text="${p.duracion} + ' semanas'"></small>
                      </div>
                      <span class="badge bg-primary" th:if="${p.area == 'Memoria'}" style="margin-bottom: 5px;">Memoria</span>
                      <span class="badge bg-secondary" th:if="${p.area == 'Percepción'}" style="margin-bottom: 5px;">Percepción</span>
                      <span class="badge bg-success" th:if="${p.area == 'Atención'}" style="margin-bottom: 5px;">Atención</span>
                      <span class="badge bg-danger" th:if="${p.area == 'Comprensión'}" style="margin-bottom: 5px;">Comprensión</span>
                      <span class="badge bg-warning text-dark" th:if="${p.area == 'Lenguaje'}" style="margin-bottom: 5px;">Lenguaje</span>
                      <span class="badge bg-dark" th:if="${p.area == 'Razonamiento'}" style="margin-bottom: 5px;">Razonamiento</span>

                      <p class="mb-1" th:text="${p.descripcion}"></p>
                      <div class="progress mt-3" style="height: 15px;">
                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
                        th:attr="style = 'width: ' + ${@informeProgramaService.getMyProgramProgress(p.id)} + '%', aria-valuenow = ${@informeProgramaService.getMyProgramProgress(p.id)}" th:text = "${@informeProgramaService.getMyProgramProgress(p.id).toString()} + '%'" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </a>
                  </div><!-- End List group Advanced Content -->
                  <br/>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <main id="main" class="main" style="margin-left: 0px;" th:if="${@usuarioService.getAuth() == 'ADMIN'}">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/alzi}">Gestión</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Usuarios por tipo</h5>
              <input id="num-usuarios" type="hidden" th:value="${@usuarioService.getNumUsuarios()}"/>
              <input id="num-cuidadores" type="hidden" th:value="${@usuarioService.getNumCuidadores()}"/>
              <input id="num-especialistas" type="hidden" th:value="${@usuarioService.getNumEspecialistas()}"/>
              <!-- Pie Chart -->
              <canvas id="pieChart" style="max-height: 250px;"></canvas>
              <script>
                var numUsuarios = document.getElementById('num-usuarios').value;
                var numCuidadores = document.getElementById('num-cuidadores').value;
                var numEspecialistas = document.getElementById('num-especialistas').value;
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#pieChart'), {
                    type: 'pie',
                    data: {
                      labels: [
                        'Usuarios',
                        'Cuidadores',
                        'Especialistas'
                      ],
                      datasets: [{
                        label: 'Usuarios por tipo',
                        data: [numUsuarios, numCuidadores, numEspecialistas],
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>
              <!-- End Pie CHart -->
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Programas por tipo</h5>
              <input id="num-memoria" type="hidden" th:value="${@programaService.getNumProgramasMemoria()}"/>
              <input id="num-percepcion" type="hidden" th:value="${@programaService.getNumProgramasPercepcion()}"/>
              <input id="num-atencion" type="hidden" th:value="${@programaService.getNumProgramasAtencion()}"/>
              <input id="num-comprension" type="hidden" th:value="${@programaService.getNumProgramasComprension()}"/>
              <input id="num-lenguaje" type="hidden" th:value="${@programaService.getNumProgramasLenguaje()}"/>
              <input id="num-razonamiento" type="hidden" th:value="${@programaService.getNumProgramasRazonamiento()}"/>
              <!-- Bar Chart -->
              <canvas id="barChart" style="max-height: 250px;"></canvas>
              <script>
                var numMemoria = document.getElementById('num-memoria').value;
                var numPercepcion = document.getElementById('num-percepcion').value;
                var numAtencion = document.getElementById('num-atencion').value;
                var numComprension = document.getElementById('num-comprension').value;
                var numLenguaje = document.getElementById('num-lenguaje').value;
                var numRazonamiento = document.getElementById('num-razonamiento').value;
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#barChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Memoria', 'Percepción', 'Atención', 'Comprensión', 'Lenguaje', 'Razonamiento'],
                      datasets: [{
                        label: ['Áreas'],
                        data: [numMemoria, numPercepcion, numAtencion, numComprension, numLenguaje, numRazonamiento],
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)'
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
              <!-- End Bar CHart -->
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nº Ejercicios</h5>
              <text th:text="${@ejercicioService.getNumEjercicios()}"></text>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nº Preguntas</h5>
              <text th:text="${@preguntaService.getNumPreguntas()}"></text>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nº Informes</h5>
              <text th:text="${@informeProgramaService.getNumInformesTotales()}"></text>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <main id="main" class="main" th:if="${@usuarioService.getAuth() == 'CUIDADOR' or @usuarioService.getAuth() == 'ESPECIALISTA'}">

    <div class="pagetitle">
      <h1>Ocupaciones</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/alzi}">Usuarios</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>
      <div class="row" th:if="${@usuarioService.getAuth() == 'CUIDADOR'}">
        <div th:each="u: ${@usuarioService.getUsuariosCuidador()}" class="col-6">
          <a th:href="@{'/show-perfil?usuarioId=' + ${u.id}}">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" th:text="${u.nombre} + ' ' + ${u.apellidos}"></h5>
                <p class="card-text" th:text="${u.bio}"></p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row" th:if="${@usuarioService.getAuth() == 'ESPECIALISTA'}">
        <div th:each="u: ${@usuarioService.getUsuariosEspecialista()}" class="col-6">
          <a th:href="@{'/show-perfil?usuarioId=' + ${u.id}}">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" th:text="${u.nombre} + ' ' + ${u.apellidos}"></h5>
                <p class="card-text" th:text="${u.bio}"></p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <a th:href="@{/usuario}" class="btn btn-primary">Añadir usuario</a>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <!--<script>
    function checkResponses(){
        var divCheckingInterval = setInterval(function(){
          console.log("prueba");
            var iframe = document.getElementById("chatbot");
            var myFrame = iframe.cloneNode(true);
            console.log(myFrame);
        }, 5000);
      }
  </script>-->

</body>

</html>