<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Users / Profile - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

<body>

  <div id="header" th:replace="../static/includes/header :: header"></div>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav" th:if="${@usuarioService.getAuth() == 'CUIDADOR'}">

        <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/alzi}">
            <i class="bi bi-chat"></i>
            <span>Usuarios</span>
          </a>
        </li><!-- End Usuarios Page Nav -->

        <li class="nav-item">
          <a class="nav-link" th:href="@{/programas}">
            <i class="bi bi-journal"></i>
            <span>Programas</span>
          </a>
        </li><!-- End Área Personal Page Nav -->

      </ul>

      <ul class="sidebar-nav" id="sidebar-nav" th:if="${@usuarioService.getAuth() == 'ESPECIALISTA'}">

        <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/alzi}">
            <i class="bi bi-chat"></i>
            <span>Usuarios</span>
          </a>
        </li><!-- End Usuarios Page Nav -->

        <li class="nav-item">
          <a class="nav-link" data-bs-target="#forms-train" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Entrenamiento</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-train" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a th:href="@{/programas}">
                <i class="bi bi-circle"></i><span>Programas</span>
              </a>
            </li>
            <li>
              <a th:href="@{/ejercicios}">
                <i class="bi bi-circle"></i><span>Ejercicios</span>
              </a>
            </li>
            <li>
              <a th:href="@{/preguntas}">
                <i class="bi bi-circle"></i><span>Preguntas</span>
              </a>
            </li>
          </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" th:href="@{/area-personal}">
            <i class="bi bi-journal"></i>
            <span>Área Personal</span>
          </a>
        </li><!-- End Área Personal Page Nav -->

      </ul>

    </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Entrenamiento</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/programas}">Programas</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>

      <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                  <h5 class="card-title" th:text="${programa.titulo}"></h5>
                  <span class="badge bg-primary" th:if="${programa.area == 'Memoria'}" style="margin-bottom: 5px;">Memoria</span>
                  <span class="badge bg-secondary" th:if="${programa.area == 'Percepción'}" style="margin-bottom: 5px;">Percepción</span>
                  <span class="badge bg-success" th:if="${programa.area == 'Atención'}" style="margin-bottom: 5px;">Atención</span>
                  <span class="badge bg-danger" th:if="${programa.area == 'Comprensión'}" style="margin-bottom: 5px;">Comprensión</span>
                  <span class="badge bg-warning text-dark" th:if="${programa.area == 'Lenguaje'}" style="margin-bottom: 5px;">Lenguaje</span>
                  <span class="badge bg-dark" th:if="${programa.area == 'Razonamiento'}" style="margin-bottom: 5px;">Razonamiento</span>

                  <p th:text="${programa.descripcion}"></p>

                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div th:each="e: ${ejercicios}">
                      <div class="accordion-item">
                        <h2 class="accordion-header" th:attr="id='fh'+${e.id}">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#fc'+${e.id}, aria-controls='fc'+${e.id}" aria-expanded="false" th:text="${e.titulo}"></button>
                        </h2>
                        <small th:text="${e.duracion} + ' minutos'"></small>
                        <div th:attr="id='fc'+${e.id}, aria-labelledby='fh'+${e.id}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body" th:text="${e.descripcion}"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div th:if="${@programaService.soyCreador(programa.usuarioId)}">
                    <a th:href="@{'/actualizar-ejercicios?programaId=' + ${programa.id}}" class="btn btn-primary">Actualizar Ejercicios</a>
                  </div>
                  <br>
                  <h6 th:text="'Administrado por: ' + ${@usuarioService.getNameSurnameById(programa.usuarioId)}"></h6>
                </div>
              </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    function showOptions(){
        var options = document.getElementById('ejercicios-select').selectedOptions;
        console.log(options);
        var values = Array.from(options).map(({ value }) => value);
        console.log(values);
        var input = document.getElementById('ejsInput').value = values;
    }
  </script>

</body>

</html>